<div class=" animate__animated animate__fadeInLeft animate__faster">

  <h3>
    Por región <small style="color:rgba(0, 0, 0, 0.564)">{{ regionActiva | titlecase }}</small>
  </h3>
  <hr />
  
  <h5>Seleccione la región</h5>
  
  <!-- [class.btn-primary]="r === regionActiva" -->
  
  <!-- [ngClass]="{
    'btn-primary': regionActiva === r,
    'btn-outline-primary': regionActiva !== r
  }" -->
  <div class="row">
    <div class="col">
      <button
      *ngFor="let r of regiones"
      class="btn-lg m-1 "
      [class]="getClaseCSS(r)"
      (click)="activarRegion(r); buscar(r)"
      >
      {{ r | titlecase }}
    </button>
  </div>
</div>
<div *ngIf="regionActiva !== ''" class="row">
  <div class="col  animate__animated animate__fadeInUp">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>

</div>
